<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{>navbar}}
    <h1>Product List</h1>
    <form action="/admin/addTask" method="post">
      <label for="newTask">Product: </label>
      <input type="text" placeholder="Product Name" name="productName" id="newTask" />
      <label for="price">Price: </label>
      <input type="text" placeholder="price" name="price" id="price">
      <label for="imgUrl">Image Url: </label>
      <input name="imgUrl" id="imgUrl" type="text"></input>
      <label for="desc">Description: </label>
      <input type="text" name="desc" id="desc">
      <button type="submit">ADD</button>
    </form>
</body>
</html>